extends layout

block content
	.console-wrapper
		.overlay
			#job-variants
				ul.menu.job-variants
					each variant, key in jobVariants
						li
							a.button(href='#'+key,class=variant.cssClass?variant.cssClass:'')
								span.title= variant.name
								if variant.description
									span.description= variant.description
				.help Note: you can edit these jobs in console-proxy/jobs.js
		#console

block script
	script(src='//code.jquery.com/jquery-2.1.1.min.js')
	script(src='/socket.io/socket.io.js')
	script.
		var jobKey = "!{jobKey}";
	script(src='/js/clientBrowserified.js')


